*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1{
    display: flex;
    justify-content: center;
    background-color: rgb(55, 25, 133);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 350px;
    box-shadow: 0 0 20px rgba(106, 49, 252, 0.5);
    font-family: monospace;
}

p{
    color: white;
    font-family: monospace;
    font-weight: 650;
    border: solid 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;   
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 17, 77);
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color:white;
    background-color: #15173c;
    width: 350px;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
    box-shadow: 0 0 20px rgba(106, 49, 252, 0.5);
}   

.pantalla{
    grid-column: 1 / -1;
    background-color: rgb(15, 11, 47);
    text-align: right;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: monospace;
    overflow-x: auto;
}

.btn{
    background-color: #15173c;
    color: white;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    border: solid 0.5px rgb(4, 3, 14);
}

.btn:hover{
    background-color: rgb(15, 11, 47);
}

#igual{
    grid-row: 2 span ;
    background-color: blueviolet;
}

#igual:hover{
    background-color: rgb(171, 80, 255);
}

#cero{
    grid-column: 2 span;
}
