*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 17, 77);
}

.calculadora{
    display: grid;
    color:white;
    background-color: #15173c;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    padding: 1.5rem;
    border: solid 0.5px;
    border-radius: 1rem;
    gap: 0.5rem;

}   

.pantalla{
    grid-column: 1 / -1;
    background-color: rgb(15, 11, 47);
    text-align: right;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: monospace;
}

.btn{
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    border: solid 0.5px rgb(4, 3, 14);
}

.btn:hover{
    background-color: rgb(15, 11, 47);
}

#igual{
    grid-row: 2 span ;
}

#cero{
    grid-column: 2 span;
}
